.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -80px #ffffff;
}

.introducao {
  max-width: 1200px;
  margin: 0 auto;
}

.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao h1 {
  padding: 70px;
  width: max-content;
}

.introducao img {
  grid-column: 1;
  margin-bottom: -40px
}

.introducao-informacoes {
  align-self: center;
  margin-bottom: 80px;
}

.introducao p {
  padding-bottom: 50px;
}


